%h1 Login
= form_tag sessions_path do
  .field
    = label_tag :email
    %br/
    = email_field_tag :email
  .field
    = label_tag :password
    %br/
    = password_field_tag :password
  .actions
  %br
    = submit_tag "Login!", class: "btn btn-primary"

%p
= link_to "Back to Homepage", root_url
