%h2= @track.title

%p
  %b Release Date:
  = @track.release_date

%audio{controls: "controls"}
  %source{src: "#{@track.audio}"}

- if can? :update, Track
  %br/
  = link_to "Edit Track", edit_track_path(@track)
  |
  - if can? :destroy, @track
    = link_to "Delete Track", track_path(@track), method: :delete


%h5 Comments

- @track.comments.each do |comment|
  .track-comment
  %p
    = comment.text
    \::
    = comment.user.name

    - if can? :flag, Comment
      = link_to 'Flag', "/comments/#{comment.id}/flag"
    %br
    - if can? :destroy, Comment
      = link_to 'Delete', "/comments/#{comment.id}/delete"
      %br

      %p
    - if can? :create, Comment
      = link_to "Add Comment", "/tracks/#{@track.id}/comments/new"

%p
= link_to "Back to User Profile", @track.user
|
= link_to "Back to My Profile", current_user
