%h2= @track.title

%p
  %b Release Date:
  = @track.release_date

%audio{controls: "controls"}
  %source{src: "#{@track.audio}"}


%br/
= link_to "Edit Track", edit_track_path(@track)
|
= link_to "Delete Track", track_path(@track), method: :delete

/ -if current_user
/   %ul.right-nav
/   %li
/     Logged in as #{current_user.name},
/     = link_to 'Logout', :logout_path, method: :delete


%h5 Comments

- @track.comments.each do |comment|
  .track-comment
  %p
    = comment.text
    = comment.user.name
    = link_to 'Flag', flag_comment_path
  %br

= link_to "Add Comment", "/tracks/#{@track.id}/comments/new"
%br

%p
= link_to "Back to User Profile", @track.user
